<div class="d-block d-lg-none">
  <nav class="navbar navbar-expand-lg navbar-dark px-0" id="navbarMenu">

    <%= link_to 'Edouard Garret', root_path ,class: 'navbar-brand' %>

    <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navMenu" aria-expanded="false">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <span class="icon-bar top-bar"> </span>
      <span class="icon-bar middle-bar"> </span>
      <span class="icon-bar bottom-bar"> </span>
    </button>

    <div class="navbar-collapse collapse" id="navMenu" style="">
      <ul class="navbar-nav">

        <!-- RESUME SECTION-->
        <li class="list-group-item sidebar-separator menu-collapsed submenu">
          <small>
            RESUME
          </small>
        </li>
        <li class="nav-item">
          <a href="experience.php" class="nav-link">
            <i class="fas fa-briefcase fa-fw"></i>
            <span class="navlinkName">
              Experience
            </span>
          </a>
        </li>
        <li class="nav-item justify-content-start">
          <a href="education.php" class="nav-link">
            <i class="fas fa-graduation-cap fa-fw"></i>
            <span class="navlinkName">
              Education
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="skills.php" class="nav-link">
            <i class="fas fa-dumbbell fa-fw"></i>
            <span class="navlinkName">
              Skills
            </span>
          </a>
        </li>

        <!-- CURRENT SECTION-->
        <li class="list-group-item sidebar-separator menu-collapsed submenu">
          <small>
            CURRENT
          </small>
        </li>
        <li class="nav-item">
          <a href="clients.php" class="nav-link">
            <i class="far fa-building fa-fw"></i>
            <span class="navlinkName">
              Clients
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a href="projects.php" class="nav-link">
            <i class="fas fa-folder fa-fw"></i>
            <span class="navlinkName">
              Projects
            </span>
          </a>
        </li>

        <!-- OTHER SECTION-->
        <li class="list-group-item sidebar-separator menu-collapsed submenu">
          <small>OTHER</small>
        </li>
        <li class="nav-item">
          <a href="hobbies.php" class="nav-link">
            <i class="fas fa-quidditch fa-fw"></i>
            <span class="navlinkName">
              Hobbies
            </span></a>
          </li>
          <li class="nav-item">
            <a href="engagements.php" class="nav-link">
              <i class="fas fa-globe-asia fa-fw"></i>
              <span class="navlinkName">
                Engagements
              </span>
            </a>
          </li>

          <!-- CONTACT SECTION-->
          <li class="list-group-item sidebar-separator menu-collapsed submenu">
            <small>
              CONTACT
            </small>
          </li>
          <div id="contact" class="d-flex justify-content-start">
            <a class="socialicon" href="https://www.linkedin.com/in/edouardgarret/" target="_blank">
              <i class="fab fa-linkedin"></i>
            </a>
            <a class="socialicon" href="mailto:edouard.garret@gmail.com" target="_blank">
              <i class="fas fa-envelope-square"></i>
            </a>
            <a class="socialicon" href="https://wa.me/6282247495813" target="_blank">
              <i class="fab fa-whatsapp-square"></i>
            </a>
            <a class="socialicon" href="tel:6282247405813" target="_blank">
              <i class="fas fa-phone-square"></i>
            </a>
          </div>
        </ul>
      </div>
    </nav>
  </div>
