<aside id="sidebar" class="col-lg-3 d-none d-lg-block">
  <nav class="navbar navbar-expand navbar-dark flex-lg-column align-items-start">

    <%= link_to 'Edouard Garret', root_path, class: 'navbar-brand' %>

    <div class="collapse navbar-collapse w-100">
      <ul class="navbar-nav flex-row flex-lg-column w-100">

        <%= render 'shared/menu_content' %>

      </ul>
    </div>
  </nav>
</aside>
