<div class="container col-12 col-lg-9 offset-lg-3">
  <div class="content">

    <h1>Clients</h1>

    <hr>

    <!--ABACA VILLAS-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-12 col-lg-4 justify-content-around align-items-center">
        <img src="<%= asset_path('logo_abaca_villas.png') %>" id="logoabaca" alt="">
        <span>
          Status: Active
        </span>
      </div>

      <div class="experience_text_block col-12 col-lg-8">
        <p>
          Working as a freelance consultant for <a href="https://www.abacavillas.com">Abaca Villas</a>, my role is to upgrade the marketing tools &amp; processes of the property in order to boost its occupancy. My scope of action is large from doing an Audit of the online presence, recruiting a new reservation staff, setting up working tools (GSuite) as well as a PMS (Little Hotelier) and a Channel Mananger (Site Minder), training the new staff, etc.
        </p>
        <p>
          I also performed a "mystery client" stay in order to assess the quality of the property and the services provided by the in-house team. This led to identifying minor maintenance issues but more concerning service issues to be addressed.
        </p>
      </div>
    </div>

    <hr>

    <!--LUXURY RETREATS-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-12 col-lg-4 justify-content-around align-items-center">
        <img src="<%= asset_path('lr.jpg') %>" id="logolr" alt="">
        <span>
          Status: Inactive
        </span>
      </div>
      <div class="experience_text_block col-12 col-lg-8">
        <p>
          By the end of 2018, I worked with <a href="https://www.luxuryretreats.com">Luxury Retreats</a> in Bali and sourced them several villa owners corresponding to their portfolio. LR is extremely demamding in terms of quality and have a very thorough inspection process. They only select luxury properties which have unique designs, furnitures and service.
        </p>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
