<div class="container col-12 col-lg-9 offset-lg-3">
  <div class="content">
    <h1>Education</h1>

    <hr>

    <!--OPEN CLASSROOMS-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h5 class="dates">
          Apr - Jun 2019
        </h5>
        <span class="duration">
          (9 weeks)
        </span>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>
          <i class="far fa-building fa-fw"></i>
          <a href="https://www.lewagon.com/barcelona">
            Le Wagon
          </a><br>
          <i class="fas fa-graduation-cap fa-fw"></i>
            Ruby on Rails<br>
          <i class="fas fa-map-marker-alt fa-fw"></i>
            Barcelona
        </p>
        <p>
          9 weeks intensive program learning OOP with Ruby, MVC, Rails, Active Records, Github, basics of Javascript and HTML/CSS. The program included a <a href="projects">final project</a> on which I am still working. <a href="https://www.lewagon.com/barcelona/program">Read more</a> about the program.
        </p>
      </div>
    </div>

    <hr>

    <!--EDHEC-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-12 col-lg-4">
        <h5 class="dates">
          2007 - 2012
        </h5>
        <span class="duration">
          (5 years)
        </span>
      </div>

      <div class="experience_text_block col-12 col-lg-8">
        <p>
          <i class="far fa-building fa-fw"></i>
          <a href="https://www.edhec.edu/">
            EDHEC Business School
          </a><br>
          <i class="fas fa-graduation-cap fa-fw"></i>
            Master of Science in Entrepreneurship<br>
          <i class="fas fa-map-marker-alt fa-fw"></i>
            Lille, France
        </p>
        <p>
          <i class="far fa-building fa-fw"></i>
            University of Alberta (6 months)<br>
          <i class="fas fa-graduation-cap fa-fw"></i>
            Exchange program<br>
          <i class="fas fa-map-marker-alt fa-fw"></i>
            Edmonton, Canada
        </p>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
