<div class="container col-12 col-lg-9 offset-lg-3">
  <div class="content">
    <h1 class="text-center">
      Engagements
    </h1>

    <!--FUTURE ENGAGEMENTS-->
    <div class="p-4">
      <p>
        Unlike the years before living in Asia, I now try to have a more balanced way of life between my personal & professional lifes (#workaholic). Even if this requires some sort of personal reboot, it's probably the best decision I have made recently.
      </p>
      <p>
        As much as possible, I try to have a limited impact on my environment, I almost exclusively use my bicycle 🚲 to commute and always consider taking the train 🚄 before the plane. I also prefer to buy second-hand clothing/furniture and try to fix things before buying new ones.
      </p>
      <p>
        In regards to food & diet, I am lucky enough to have bio supermarkets 🥦 surrounding me. However, no plans to become vegetarian but I am reducing the amount of meat I eat.
      </p>
      <p>
        I also try to cautiously control my life online as I dislike the idea of being permanently tracked and data-processed. I now use <a href="https://brave.com/">Brave</a> as my main browser and <a href="https://www.qwant.com/">Qwant</a> as my main search engine.
      </p>
    </div>

  </div>
  <%= render 'shared/footer' %>
</div>
