<div class="container col-12 col-lg-9 offset-lg-3">
  <div class="content">
    <h1 class="display-5">Engagements</h1>

    <p class="lead">After living in Asia for a while, my perspective on life has changed. What matters now is not anymore what mattered to me yesterday. Hence, I try to have a more balanced way of life between my personal &amp; professional lifes. Even if this requires some sort of personal reboot on social &amp; society's expectations from oneself; it's probably the best decision I am making at the moment (still on process).</p>
    <div class="quote">
      <blockquote class="blockquote">
        <p>"Non les braves gens n'aiment pas que, l'on suive une autre route qu'eux"</p>
        <footer class="blockquote-footer">George Brassens dans <cite title="Source Title">La Mauvaise Réputation</cite></footer>
      </blockquote>
    </div>

    <hr>

    <!--FUTURE ENGAGEMENTS-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h2>Minify.life</h2>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>Recently, my life partner told me I should launch a "minimalist" sort of blog. I am quite concerned with ecology, the food I eat, my health, and overall, the impact of my life on the planet. Also,  I have followed her advice and launched <a href="https://www.minify.life">minify.life</a>. This website records tips and ideas on how to "minify" your life. I don't do everything myself (I try to) but I record those on that blog (many many many are still in drafts). On the long-run, I'd like to build a community around this
        </p>
      </div>
    </div>

    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h2>Technology</h2>
      </div>

      <div class="experience_text_block col-lg-8">
        <p> The more I browse the Internet, the more I am disgusted by the violation of our privacy, by the use of our data for advertising purpose, by the profiling companies make of us. And also about the programmed obsolescence of products such as phones, TVs, laptops, etc. Hence, I am trying to change my habits. I am currently exploring new web browsers, <a href="https://vivaldi.com/">Vivaldi</a> and <a href="https://brave.com/">Brave</a>, also <a href="https://www.qwant.com/">Qwant</a> as a search engine. I am hoping to invest in a <a href="https://www.fairphone.com">Fairphone</a> soon.
        </p>
      </div>
    </div>

  </div>
</div>
