<div class="container col-12 col-lg-9 offset-lg-3">
  <div class="content">

    <h1 class="display-5">Experience</h1>

    <hr>

    <!--PRESENT-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h5 class="dates">
          Present
        </h5>
        <span class="duration">
        </span>
        <span class="key_info_desc">
          <i class="far fa-building fa-fw"></i>
          Freelance
        </span>
        <span class="key_info_desc">
          <i class="far fa-file-code fa-fw"></i>
          Web Development
        </span>
        <span class="key_info_desc">
          <i class="fas fa-user-tie fa-fw"></i>
          Junior Developer
        </span>
        <span class="key_info_desc">
          <i class="fas fa-map-marker-alt fa-fw"></i>
          Barcelona, Spain
        </span>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>
          I am currently developing my <a href="skills">skills</a> in web development. I have several <a href="clients">clients</a> in the vacation rentals industry and an exciting <a href="projects">side-project</a>.
        </p>
      </div>
    </div>

    <hr>

    <!--HEAD OF DISTRIBUTION-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h5 class="dates">
          Apr 2016 - Sep 2018
        </h5>
        <span class="duration">
          (2 years and 4 months)
        </span>
        <span class="key_info_desc">
          <i class="far fa-building fa-fw"></i>
          <a href="https://www.villa-finder.com">
            Villa Finder
          </a>
        </span>
        <span class="key_info_desc">
          <i class="fas fa-sun fa-fw"></i>
          Vacation Rentals
        </span>
        <span class="key_info_desc">
          <i class="fas fa-user-tie fa-fw"></i>
          Head of Distribution
        </span>
        <span class="key_info_desc">
          <i class="fas fa-map-marker-alt fa-fw"></i>
          Bali, Indonesia
        </span>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>I had the opportunity and the pleasure to launch a new business unit from scratch. I left this position and the company with great results as the department achieved a revenue of <strong>USD 2,000,000</strong> at the end of 2018. I had several responsibilities including:
        </p>
        <ul>
          <li>
            Sourcing properties for our exclusive portfolio
          </li>
          <li>
            Acting as Account Manager for our exclusive villa owners (main point of contact, reporting, consulting)
          </li>
          <li>
            Sourcing partners and optimizing our existing partnerships (Superhost on Airbnb, preferred partner on Booking.com).
          </li>
          <li>
            Management: recruitment, coaching, setting up clear KPIs
          </li>
          <li>
            Constantly optimizing our workflow to create a mindset of efficiency amongst coworkers (short meetings &amp; reporting)
          </li>
        </ul>
      </div>
    </div>

    <hr>

    <!--SALES MANAGER-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-12 col-lg-4">
        <h5 class="dates">
          Sep 2015 - Apr 2016
        </h5>
        <span class="duration">
          (8 months)
        </span>
        <span class="key_info_desc">
          <i class="far fa-building fa-fw"></i>
          <a href="https://www.villa-finder.com">
          Villa Finder</a>
        </span>
        <span class="key_info_desc">
          <i class="fas fa-sun fa-fw"></i>
          Vacation Rentals
        </span>
        <span class="key_info_desc">
          <i class="fas fa-user-tie fa-fw"></i>
          Sales Manager
        </span>
        <span class="key_info_desc">
          <i class="fas fa-map-marker-alt fa-fw"></i>
          Bali, Indonesia
        </span>
      </div>

      <div class="experience_text_block col-12 col-lg-8">
        <p>My second position was much more sales oriented as I took the lead of the sales team during a period of 6 months.
        </p>
      </div>
    </div>

    <hr>

    <!--MARKETING MANAGER-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h5 class="dates">
          Mar 2015 - Sep 2015
        </h5>
        <span class="duration">
          (7 months)
        </span>
        <span class="key_info_desc">
          <i class="far fa-building fa-fw"></i>
          <a href="https://www.villa-finder.com">
            Villa Finder
          </a>
        </span>
        <span class="key_info_desc">
          <i class="fas fa-sun fa-fw"></i>
          Vacation Rentals
        </span>
        <span class="key_info_desc">
          <i class="fas fa-user-tie fa-fw"></i>
          Marketing MANAGER
        </span>
        <span class="key_info_desc">
          <i class="fas fa-map-marker-alt fa-fw"></i>
          Bali, Indonesia
        </span>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>
          I was managing a team of 3 content executives (data entry, blogger/photographer). My main achievement in that position was to reorganize and streamline the workflow with improved processes and collaboration tools still being used today. I also implemented a <strong>Quality Score </strong>measuring system to constantly evaluate the quality of our many listings across our websites.
        </p>
      </div>
    </div>

    <hr>

    <!--INTERN AND PARTNER-->
    <div class="experience_block_end d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h5 class="dates">
          2012 - Jan 2015
        </h5>
        <span class="duration">
          (3 years)
        </span>
        <span class="key_info_desc">
          <i class="far fa-building fa-fw"></i>
          <a href="https://www.culturesconnection.com">
            Cultures Connection
          </a>
        </span>
        <span class="key_info_desc">
          <i class="far fa-flag fa-fw"></i>
          Translation
        </span>
        <span class="key_info_desc">
          <i class="fas fa-user-tie fa-fw"></i>
          Head of Distribution
        </span>
        <span class="key_info_desc">
          <i class="fas fa-map-marker-alt fa-fw"></i>
          Buenos Aires, Argentina
        </span>
        <span class="key_info_desc">
          <i class="fas fa-map-marker-alt fa-fw"></i>
          Nice, France
        </span>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>
          I started at Cultures Connection as an intern in August 2012 in Argentina. I was given many business development tasks related to the website, our social media, but also more operational with managing translation projects involving several translators and proofreaders on tight deadlines.
        </p>

        <p>
          After a few months, I became a <strong>Partner</strong> and launched the company in France. I settled the company there, prospected many potential clients (emails, cold calling &amp; meetings), as well as supervised the complete redesign of our website. After running the business in France for about 1.5 years, I decided to move on to other projects. I am no longer a partner at Cultures Connection.
        </p>
      </div>
    </div>
  </div>
  <%= render 'shared/footer' %>
</div>
