<div class="container col-12 col-lg-9 offset-lg-3">
  <div class="content">
    <h1 class="display-5">Hobbies</h1>

    <hr>

    <!--SQUASH-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h2>Squash</h2>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>I have always been playing tennis. Sadly, tennis requires a LOT of time on training if you don't want to "lose it". Hence, I started to play squash, and I have to admit: I love it. Squash is probably the only sport that can kill you (literally) in less than 1 hour. The intensity is extreme and the level of fitness required is very high. On top of that, it's especially fun!
        </p>
      </div>
    </div>

    <hr>

    <!--READING-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h2>Reading</h2>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>I love reading. That being said, our busy lifes rarely gives us enough time to read. But, when I find it, I love to read a good "polar" book. My favourite authors are Caryl Ferey and RJ Ellory.
        </p>
      </div>
    </div>

    <hr>

    <!--OTHER SPORTS-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h2>Other Sports</h2>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>Of course, I love to do any kind of physical activity as long as I am having fun doing it. I play soccer from time to time, tennis indeed (even though I hate not being as good as I used to), cycling, running (but not alone). I also have enjoyed myself very much at go-karting!
        </p>
      </div>
    </div>

  </div>
</div>
