<div class="container col-12 col-lg-9 offset-lg-3">
  <div class="content">
    <h1 class="text-center">Hobbies</h1>

    <hr>

    <!--SQUASH-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h5>Tennis, Squash, Padel</h5>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>
          I love all racquets sports, I originally started Tennis many many years ago. I have played more Squash in the past 2 years and have rediscovered Padel when arriving in Spain. If you are in Barcelona and wish to play, I am your man!
        </p>
      </div>
    </div>

    <hr>

    <!--OTHER SPORTS-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h5>Other Sports</h5>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>
          Of course, I love to do any kind of physical activity as long as I am having fun doing it. I play soccer from time to time, cycling, running (but not alone). I also have enjoyed myself very much at go-karting!
        </p>
      </div>
    </div>

    <hr>

    <!--READING-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h5>Reading</h5>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>
          I love reading. That being said, our busy lifes rarely gives us enough time to read. But, when I find it, I love to read a good "polar" book. My favourite authors are Caryl Ferey and RJ Ellory.
        </p>
      </div>
    </div>

  </div>
  <%= render 'shared/footer' %>
</div>
