<div class="container col-12 col-lg-9 offset-lg-3">
  <h1>
    Hello,
  </h1>
  <br>

  <p>
    My name is Edouard, I currently live in Barcelona.
  </p>

  <p>
    I have worked 4 years in the Vacation Rentals industry and have recently decided to learn Web Development. I recently finished <%= link_to 'Le Wagon Barcelona', 'https://www.lewagon.com/barcelona' %> Le Wagon Barcelona (batch #245) and am looking for a Junior Dev Position. I also work on various projects as a freelancer.
  </p>

  <p>
    This website provides key information about my experiences, my skills, my education as well as my current projects. It is my online resume but if you still need a 1-page file, there you go:
  </p>

  <p>
    If you would like to contact me, feel free to email me or contact me on Whatsapp at +34 651 952 237.
  </p>

  <p>
    Best,<br>
    Edouard
</p>
</div>

