<div class="container col-12 col-lg-9 offset-lg-3">
  <div class="content">
    <h1 class="text-center">
      Lifestyle
    </h1>

    <!--FUTURE ENGAGEMENTS-->
    <div class="p-4">
      <p>
        Moving back to Europe and to Barcelona gave me the opportunity to reshape my lifestyle. I had the bad habit of overworking in Asia and now try to have a more balanced way of life, giving a lot more space to my <a href="/hobbies">hobbies</a> than in the past few years.
      </p>
      <p>
        As I am very concerned of my impact on the environment, it shapes my way of consuming. I almost exclusively use my bicycle 🚲 to commute and always consider taking the train 🚄 before the plane. I also prefer to buy second-hand clothing/furniture and try to fix things before buying new ones. Food-wise, I do not deprive myself but am reducing my meat consumption.
      </p>
    </div>

  </div>
  <%= render 'shared/footer' %>
</div>
