<div class="container col-12 col-lg-9 offset-lg-3">
  <div class="content">

    <h1>Projects</h1>

    <p class="lead">The projects below are either side-projects or on which I am currently working or ideas I would be interested to work on.</p>

    <hr>

    <!--BACKHAND-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h5>
          <a href="https://www.backhandapp.com">
            Backhand App
          </a>
        </h5>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>
          Backhand is an app I originally built with <a href="https://github.com/Turrow">Leo</a>, <a href="https://github.com/Monicafirstcode">Monica</a> and <a href="https://github.com/namhaichau">Nam</a> during my bootcamp in Barcelona. My goal is to bring this app to life by gathering tennis players and creating a community of players on it.
        </p>
        <p>
          Backhand has 2 purposes: it helps you <strong>find & challenge</strong> tennis players and calculates your international ranking.
        </p>
      </div>
    </div>

    <hr>

    <!--OTHER IDEAS/PROJECTS-->
    <div class="experience_block d-flex flex-wrap">
      <div class="experience_text_block">
        <p>
          <strong>Airbnb of things:</strong><br>
          Artists & Crafters hate marketing. Spending time on Instagram or building a website is not their cup of tea. They need an app to help them take care of promoting their unique products to the world.
        </p>
        <p>
          <strong>Civitech:</strong><br>
          When will we be able to vote online? I am very interested in working on projects empowering citizens to make our democracies/cities/villages better places to live in.
        </p>
        <p>
          <strong>Social Networking</strong><br>
          Breaking the data-based model of social networks is something I would love to see happening. Who wouldn't pay 5 EUR / month to use a non-intrusive, privacy-friendly, data-secure, ads-free social network?
        </p>
      </div>
    </div>

  </div>
  <%= render 'shared/footer' %>
</div>
