<div class="container col-12 col-lg-9 offset-lg-3">
  <div class="content">

    <h1>Projects</h1>

    <p class="lead">The projects below are side-projects on which I am currently working.</p>

    <hr>

    <!--BACKHAND-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-12 col-lg-4 justify-content-around align-items-center">
        <a href="https://www.backhandapp.com">
          <img src="<%= asset_path('bh_logo.png') %>" id="bhlogo" alt="">
        </a>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>
          Backhand is an app I originally built with <a href="https://github.com/Turrow">Leo</a>, <a href="https://github.com/Monicafirstcode">Monica</a> and <a href="https://github.com/namhaichau">Nam</a> during my bootcamp in Barcelona. My goal is to bring this app to life by gathering tennis players and creating a community of players on it.
        </p>
        <p>
          Backhand has 2 purposes: it helps you <strong>find & challenge</strong> tennis players and calculates your international ranking.
        </p>
      </div>
    </div>

  </div>
  <%= render 'shared/footer' %>
</div>
