<div class="container col-12 col-lg-9 offset-lg-3">
  <div class="content">

    <h1 class="display-5">Projects</h1>

    <p class="lead">The projects below reveal my dreamer side and what I believe in. If you are interested in one of them, feel free to get in touch. At the moment, I simply learn Web Development to be able to take these web apps ideas to the next level: building them.</p>

    <hr>

    <!--AIRBNB OF THINGS-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h2>Airbnb of things</h2>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>
          What equivalent is there to Airbnb in the physical products world? None. The idea is to develop a web application that would bring together makers (crafstmen/women) and lovers of handmade objects of any kind (art, furniture, etc.) on one "community-oriented" marketplace.
        </p>
      </div>
    </div>

    <hr>

    <!--OPEN DEMOCRACY-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-12 col-lg-4">
        <h2>Open Democracy</h2>
      </div>

      <div class="experience_text_block col-12 col-lg-8">
        <p>
          Tomorrow's democracy will be digital. Our generation wants to participate digitally. We want to vote online, we want to be involved in the decicion process of our cities and regions. We want to be a part of it. A web application closing the gap between cities and citizens to ease the process of decicion making and providing feedback &amp; ideas is a missing piece of today's democracy.
        </p>
      </div>
    </div>

    <hr>

    <!--SOCIAL NETWORK-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-12 col-lg-4">
        <h2>Social Network</h2>
      </div>

      <div class="experience_text_block col-12 col-lg-8">
        <p>
          Today's Social Networks are based on a data model making them more and more intrusive into our lifes. They have become our generation's TV. The goal is simple: putting social networking where it's useful. Social Networks are useful for communities, to exchange on a marketplace, for events and human connections. And, as for all useful products and services, it should not be free to guarantee the business model. Who cannot pay 5 USD / month for an ads free, data secure, less intrusive Social Network?
        </p>
      </div>
    </div>

  </div>
</div>
