<div class="container col-12 col-lg-9 offset-lg-3">
  <div class="content">

    <h1 class="display-5">Skills</h1>

    <hr>

    <!--BUSINESS DEVELOPMENT-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-lg-4">
        <h4>Business Development</h4>
        <span class="key_info_desc">
          <i class="far fa-building fa-fw"></i>
          Freelance
        </span>
        <span class="key_info_desc">
          <i class="far fa-file-code fa-fw"></i>
          Web Development
        </span>
        <span class="key_info_desc">
          <i class="fas fa-user-tie fa-fw"></i>
          Junior Developer
        </span>
        <span class="key_info_desc">
          <i class="fas fa-map-marker-alt fa-fw"></i>
          Barcelona, Spain
        </span>
      </div>

      <div class="experience_text_block col-lg-8">
        <p>
          As my last experience proves it, I was able to create a business unit representing <strong> 25% of the business after 2 years</strong> and lead the team who helped me achieve this great result. I am proud to say I have learned a lot about myself during those 2 years. Especially, I have learned to work and focus my attention and energy on growing the activity; nothing else counted.
        </p>
        <p>Here are two quotes proving themselves to be especially useful and right during this mission:</p>

        <div class="quote">
          <blockquote class="blockquote">“On ne fait pas d'omelette sans casser des oeufs”</blockquote>
          <footer class="blockquote-footer">Unknown (if you know, let me know!).</footer>
        </div>
        <div class="quote">
          <blockquote class="blockquote">“Un tien vaut mieux que deux tu l'auras”</blockquote>
          <footer class="blockquote-footer">One of the many sayings from my previous business partner.</footer>
        </div>
      </div>

    </div>

    <hr>

    <!--WEB DEVELOPMENT-->
    <div class="experience_block_end d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-12 col-lg-4">
        <h4>Web Development</h4>
          <div class="d-flex justify-content-start align-items-center">
            <i class="devicon-html5-plain"></i>
            <i class="devicon-css3-plain"></i>
            <i class="devicon-rails-plain"></i>
            <i class="devicon-ruby-plain"></i>
            <i class="devicon-javascript-plain"></i>
          </div>
      </div>

      <div class="experience_text_block col-12 col-lg-8">
        <p>
          Currently <a href="education.php">learning PHP &amp; Symfony</a>, I also know HTML and CSS. However, I am not yet a full time dev, I have more learning (and practice) to do. Clearly don’t have design skills yet!
        </p>
        <p>Not that this website has been entirely done manually. It's actually my first website, I did it in about a week with Bootstrap 4. I used HTML, CSS and a few lines of PHP. For the record, I struggled a bit with having the menu responsive the way I wanted! ;)</p>
      </div>
    </div>

    <hr>

    <!--MANAGEMENT-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-12 col-lg-4">
        <h4>Management</h4>
      </div>

      <div class="experience_text_block col-12 col-lg-8">
        <p>
          During my years at Villa Finder, I think I have developed the ability to identify my team member’s strengths to empower them in their position. This resulted in having them produce a lot more than they originally thought they could produce. Beyond this, I have given them confidence in themselves, consequently increasing their sense of responsibility turning into a much faster decision process. Finally, I have taught them to report to me as one of my favorites quote says:
        </p>
        <div class="quote">
          <blockquote class="blockquote">“Rendre des comptes c'est se rendre compte”</blockquote>
          <footer class="blockquote-footer">Unknown (same as above).</footer>
        </div>
      </div>

    </div>

    <hr>

    <!--LANGUAGES-->
    <div class="experience_block d-flex flex-wrap">
      <div class="key_info d-flex flex-column col-12 col-lg-4">
        <h4>Languages</h4>
      </div>

      <div class="experience_text_block col-12 col-lg-8">
        <p>
          French is my mother tongue, I am very fluent in English both written &amp; spoken as well as in Spanish (not as good in writing). I can have basic conversations in Indonesian and I am currently learning Japanese.
        </p>
      </div>

    </div>

  </div>
  <%= render 'shared/footer' %>
</div>
