.key_info {
  padding: 0;
  margin-bottom: 25px;
}

.key_info_desc {
  font-weight: 300;
}

.dates {
  margin-bottom: 0;
}

.duration {
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 300;
}

.experience_text_block {
  padding: 0;
  li {
    margin-bottom: 8px;
  }
}

li {
  font-weight: 300;
}

i {
  margin-right: 8px;
}

// CSS for quotes

.quote {
  margin-bottom: 16px;
}

.blockquote {
  margin-bottom: 0;
  font-style: italic;
}
