.devicon-html5-plain {
  font-size: 24px;
  &:hover {
    color: #e54d26;
  }
}
.devicon-css3-plain {
  font-size: 24px;
  &:hover {
    color: #3e8fc6;
  }
}
.devicon-rails-plain {
  font-size: 24px;
  &:hover {
    color: #a62b47;
  }
}
.devicon-ruby-plain {
  font-size: 24px;
  &:hover {
    color: #d81404;
  }
}
