#sidebar {
  height: 100vh;
  background-color: #1e72bc;
  padding: 0;
  min-width: 250px;
  color: white;
  position: fixed;
  top: 0;
  .navbar {
    padding: 0;
  }
  .navbar-brand {
    margin: 16px 20px;
  }
}
